Clipboard
[{"id":"ce292748.d1a1f8","type":"inject","z":"ac21f09a.09ff","name":"Repeat every 15 mins between 7 to 22","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"*/15 7-21 * * *","once":false,"x":340,"y":93,"wires":[["42d4fb81.f17224"]]},{"id":"42d4fb81.f17224","type":"http request","z":"ac21f09a.09ff","name":"","method":"GET","ret":"txt","url":"https://data.melbourne.vic.gov.au/resource/qnjw-wgaj.json","tls":"","x":301,"y":156,"wires":[["39b4d4f9.ca15ec"]]},{"id":"39b4d4f9.ca15ec","type":"json","z":"ac21f09a.09ff","name":"","x":298,"y":220,"wires":[["31f41f14.b187e"]]},{"id":"ce5ecf67.2e392","type":"debug","z":"ac21f09a.09ff","name":"","active":true,"console":"false","complete":"true","x":1281,"y":169,"wires":[]},{"id":"31f41f14.b187e","type":"split","z":"ac21f09a.09ff","name":"","splt":"\\n","x":305,"y":281,"wires":[["6237d0c5.38b6e8"]]},{"id":"6237d0c5.38b6e8","type":"function","z":"ac21f09a.09ff","name":"get average percentage","func":"var cur_bikes = Number(msg.payload.nbbikes);\nvar all_slots = Number(msg.payload.nbbikes) + Number(msg.payload.nbemptydoc);\nvar usage_percentage = Number((cur_bikes / all_slots)) * 100 ;\nusage_percentage = usage_percentage.toFixed(2);\nmsg.payload.usage_percentage = usage_percentage;\nreturn msg;","outputs":1,"noerr":0,"x":294,"y":331.4666748046875,"wires":[["81131a8a.a2e0d8"]]},{"id":"c35dd9d6.31b94","type":"file in","z":"ac21f09a.09ff","name":"","filename":"/home/files/project/bikes/all_data.csv","format":"utf8","x":734,"y":111,"wires":[["9237199a.275f5"]]},{"id":"202a9370.a9fed4","type":"csv","z":"ac21f09a.09ff","name":"","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"id,featurename,terminalname,usage_percentage,coordinateX,coordinateY,entry_number","x":747,"y":490,"wires":[["c37a0f43.3803"]]},{"id":"c37a0f43.3803","type":"file","z":"ac21f09a.09ff","name":"","filename":"/home/files/project/bikes/all_data.csv","appendNewline":false,"createDir":true,"overwriteFile":"false","x":747,"y":551,"wires":[]},{"id":"81131a8a.a2e0d8","type":"function","z":"ac21f09a.09ff","name":"add coordinates in payload","func":"msg.payload.coordinateX = msg.payload.coordinates.coordinates[0];\nmsg.payload.coordinateY = msg.payload.coordinates.coordinates[1];\nmsg.payload.entry_number = 1\nreturn msg;","outputs":1,"noerr":0,"x":303,"y":383,"wires":[["ecff73a8.0afd18"]]},{"id":"9237199a.275f5","type":"csv","z":"ac21f09a.09ff","name":"single message array","sep":",","hdrin":"","hdrout":"","multi":"mult","ret":"\\n","temp":"id,featurename,terminalname,usage_percentage,coordinateX,coordinateY,entry_number","x":741,"y":153,"wires":[["ba0635a2.21e238"]]},{"id":"ecff73a8.0afd18","type":"join","z":"ac21f09a.09ff","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","timeout":"","count":"","x":305,"y":433,"wires":[["5c60b8b7.2c1ab8"]]},{"id":"5c60b8b7.2c1ab8","type":"function","z":"ac21f09a.09ff","name":"create object array","func":"msg.injectedPayload = msg.payload;\n\nmsg.payload = \"\";\nreturn msg;","outputs":1,"noerr":0,"x":313,"y":482,"wires":[["c35dd9d6.31b94"]]},{"id":"ba0635a2.21e238","type":"function","z":"ac21f09a.09ff","name":"create object array","func":"if(msg.payload){\n    msg.loadedPayload = msg.payload;\n    msg.payload = \"\";\n}else{\n    msg.payload = msg.injectedPayload;\n}\nreturn msg;","outputs":1,"noerr":0,"x":744,"y":200,"wires":[["9c3c59b8.464b48","b8060f1c.8bd02"]]},{"id":"9c3c59b8.464b48","type":"function","z":"ac21f09a.09ff","name":"compare average with previous","func":"msg.payload = [];\nfor(var i=0 ; i<msg.injectedPayload.length;i++){\n    for(var j =0; j < msg.loadedPayload.length;j++){\n        if(Number(msg.injectedPayload[i].id) === msg.loadedPayload[j].id){\n            if(Number(msg.injectedPayload[i].usage_percentage) > msg.loadedPayload[j].usage_percentage ){\n                msg.payload.push(msg.injectedPayload[i]);\n            }\n            break;\n        }\n    }\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":1099,"y":106,"wires":[["ce5ecf67.2e392","fea53b7.27211c8"]]},{"id":"b8060f1c.8bd02","type":"function","z":"ac21f09a.09ff","name":"Calculate new average ","func":"if(msg.injectedPayload && msg.loadedPayload){\n    msg.payload = [];\n    for(var i=0 ; i<msg.injectedPayload.length;i++){\n        for(var j =0; j < msg.loadedPayload.length;j++){\n            if(Number(msg.injectedPayload[i].id) === msg.loadedPayload[j].id){\n                \n                    var old_usage = Number(msg.loadedPayload[j].usage_percentage);\n                    var injected_usage = Number(msg.injectedPayload[i].usage_percentage);\n                    var entry_number = Number(msg.loadedPayload[j].entry_number);\n                    \n                    var new_usage = ( (old_usage * entry_number) + injected_usage )/ (entry_number+1);\n                    \n                    new_usage = Number(new_usage.toFixed(2));\n                    \n                    msg.loadedPayload[j].usage_percentage = new_usage;\n                    \n                    msg.loadedPayload[j].entry_number +=1;\n                    \n                    msg.payload.push( msg.loadedPayload[j] );\n                    \n                break;\n            }\n        }\n    }\n}else if(msg.loadedPayload){\n    //if there is no file , create one\n    msg.payload = msg.loadedPayload;\n}else{\n    //if there is no access to the api , restore the file you just deleted\n    msg.payload = msg.injectedPayload;\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":757,"y":346,"wires":[["16e02405.f0af3c","68348334.e9ac84"]]},{"id":"16e02405.f0af3c","type":"file","z":"ac21f09a.09ff","name":"File deletion","filename":"/home/files/project/bikes/all_data.csv","appendNewline":true,"createDir":false,"overwriteFile":"delete","x":996,"y":346,"wires":[]},{"id":"68348334.e9ac84","type":"delay","z":"ac21f09a.09ff","name":"Delay for deletion","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":793,"y":402,"wires":[["1114c424.08685c"]]},{"id":"1114c424.08685c","type":"split","z":"ac21f09a.09ff","name":"","splt":"\\n","x":747,"y":447,"wires":[["202a9370.a9fed4"]]},{"id":"6f87e040.2894a","type":"worldmap","z":"ac21f09a.09ff","name":"","lat":"-37.8136","lon":"144.9631","zoom":"","layer":"","cluster":"","maxage":"900","usermenu":"show","panit":"false","x":1098,"y":255,"wires":[]},{"id":"fea53b7.27211c8","type":"split","z":"ac21f09a.09ff","name":"","splt":"\\n","x":1086,"y":151,"wires":[["9428577a.81fac8"]]},{"id":"9428577a.81fac8","type":"function","z":"ac21f09a.09ff","name":"Load the point","func":"var feature_name = msg.payload.featurename;\nvar lat = msg.payload.coordinateY;\nvar lon = msg.payload.coordinateX;\n\nmsg.payload={};\nmsg.payload.name = feature_name;\nmsg.payload.lat = lat; \nmsg.payload.lon = lon;\nmsg.payload.state =\"bad state\";\nmsg.payload.iconColor=\"green\";\n\nreturn msg;","outputs":1,"noerr":0,"x":1106,"y":205,"wires":[["6f87e040.2894a"]]},{"id":"29795267.01adde","type":"file","z":"ac21f09a.09ff","name":"File deletion","filename":"/home/files/project/bikes/all_data.csv","appendNewline":true,"createDir":false,"overwriteFile":"delete","x":510,"y":638,"wires":[]},{"id":"3855b7ba.0f34e","type":"inject","z":"ac21f09a.09ff","name":"Reset on Mondays and Fridays","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 07 * * 1,5","once":false,"x":263,"y":638,"wires":[["29795267.01adde"]]},{"id":"2032276.ba357d8","type":"http in","z":"ac21f09a.09ff","name":"","url":"/get_all_average_usages","method":"get","swaggerDoc":"","x":202,"y":723,"wires":[["72bfd0bd.6f9d08"]]},{"id":"72bfd0bd.6f9d08","type":"file in","z":"ac21f09a.09ff","name":"","filename":"/home/files/project/bikes/all_data.csv","format":"utf8","x":519,"y":721,"wires":[["1e4583f5.151884"]]},{"id":"f05c5040.391c8","type":"http response","z":"ac21f09a.09ff","name":"","x":898,"y":718,"wires":[]},{"id":"1e4583f5.151884","type":"csv","z":"ac21f09a.09ff","name":"","sep":",","hdrin":false,"hdrout":"","multi":"mult","ret":"\\n","temp":"id,featurename,terminalname,usage_percentage,coordinateX,coordinateY,entry_number","x":754,"y":722,"wires":[["f05c5040.391c8"]]}]
